= form_for(@user) do |f|
  .six.columns
    - if @user.errors.any?
      #error_explanation
        %h2
          = pluralize(@user.errors.count, "error")
          prohibited this user from being saved:
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg
    .field
      = f.label :username
      = f.text_field :username, :autofocus => true
      = f.label :name, 'First Name'
      = f.text_field :name
      = f.label :password
      = f.password_field :password
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      = f.label :age
      = f.text_field :age
      = f.label :gender
      = f.text_field :gender
      = f.label :email
      = f.text_field :email
      = f.label :max_rent, 'Maximum Monthly Rent Payment'
      = f.text_field :max_rent
      = f.label :image
      = f.text_field :image
  .six.columns
    %h4
      %span#neighborhood{:title=>'Neighborhood'}= link_to 'Neighborhood(s)', hoods_path
      in which you'd like to live
    %ul
      - Hood.order(:name).each do |hood|
        %li.checkboxes
          = check_box_tag 'user[hood_ids][]', hood.id, hood.in?(@user.hoods.to_a)
          = "#{hood.name} /"
  = f.submit