     <div class="row">

  <!-- Side Bar -->

        <div class="four mobile-four columns">
          <a href="<%= user_path(@auth) %>"><div class='user_pic' style="background-image:url(<%= asset_path @auth.image%>)"></div></a>

          <div class="hide-for-small panel">
            <h3><%= link_to @auth.name, user_path(@auth.id) %></h3>
            <h5 class="subheader">
              <ul>
                <li><%= @auth.age %></li>
                <li><%= @auth.gender %></li>
                <li><%= @auth.email %></li>
                <li><%= number_to_currency(@auth.max_rent) %></li>
              </ul>
            </h5>
          </div>

        </div>

        <div class="eight columns">
          <div class="row">
            <% @users.each do |user| %>
              <% if user.id != @auth.id %>
                <div class="four mobile-two columns">
                  <a href= "<%= user_path(user) %>"><div class='thumbs' style="background-image:url('<%= asset_path user.image%>')"></div></a>

                  <div class="panel">
                    <h5><%=link_to user.name, user %></h5>
                    <h6 class="subheader"><%= user.age %></h6>
                    <h6 class="subheader"><%= user.gender %></h6>
                    <h6 class="subheader"><%= user.email %></h6>
                    <h6 class="subheader"><%= number_to_currency(user.max_rent) %></h6>
                  </div>
                </div>
              <% end %>
            <% end %>

          </div>
        </div>
      </div>