.row
  / .four.mobile-four.columns
  /   %a{:href => user_path(@auth)}/
  /   .user_pic{:style => "background-image:url(#{asset_path @auth.image})"}
  /   .hide-for-small.panel
  /     %h3= link_to @auth.name, user_path(@auth.id)
  /     %h5.subheader
  /     %ul
  /       %li= @auth.age
  /       %li= @auth.gender
  /       %li= number_to_currency(@auth.max_rent)
  .twelve.columns
    .row
      - @users.each do |user|
        - if user.id != @auth.id
          .three.mobile-one.columns
            %a{:href => user_path(user)}/
            .thumbs{:style => "background-image:url('#{asset_path user.image}')"}
            .panel
              %h5= link_to user.name, user
              %h6.subheader= user.age
              %h6.subheader= user.gender
              %h6.subheader= number_to_currency(user.max_rent)
              %a{:"data-reveal-id" =>"user_#{user.id}"}
                .mail_pic
        .reveal-modal[user]
          = form_tag "/messages", :remote => true do
            %h4= "Message to #{user.name}"
            = label_tag 'subject'
            = text_field_tag 'subject', nil, :autofocus => true
            = label_tag 'body', 'Message Body'
            = text_area_tag 'body'
            = hidden_field_tag 'contact_id', user.id
            = hidden_field_tag 'user_id', @auth.id
            = submit_tag nil, :class=>"button radial messages"
          %a.close-reveal-modal &#215;
