<div class='row' id='hello'>
  <div class='twelve columns'>
    <%= image_tag 'fun.jpg', :id=>'welcome' %>

    <h1>Welcome to Rent-A-Pad!</h1>
    <div class='four columns' id='login'>
      <%= form_tag '/users', :method=>'get' %>
      <%= label_tag 'name' %>
      <%= text_field_tag 'name' %>
      <%= label_tag 'password' %>
      <%= password_field_tag 'password' %>
      <%= submit_tag 'Login' %>
      <br>
      <span class='forms'>New User?
      <%= link_to 'Register here!', new_user_path %></span>
    </div>
  </div>
</div>