.row
  .twelve.columns
    %nav.top-bar
      %ul.top-bar
        %li.name
          %h1= link_to 'R-A-P', root_path
        %li.toggle-topbar
          = link_to '#'
      %section
        %ul.left
          %li= link_to 'Home', root_path
          %li= link_to 'About', about_path
          %li= link_to 'FAQ', faq_path
        %ul.right
          != intellinav